<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465161482930-5jm3l56p225a7k5g9r3tp353lf8hmn0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465161482930-5jm3l56p225a7k5g9r3tp353lf8hmn0s</string>
	<key>API_KEY</key>
	<string>AIzaSyCWT8HdtiIn8G9t9aAu1mhAxEUobgIsExo</string>
	<key>GCM_SENDER_ID</key>
	<string>465161482930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.igaranti</string>
	<key>PROJECT_ID</key>
	<string>igaranti</string>
	<key>STORAGE_BUCKET</key>
	<string>igaranti.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465161482930:ios:466e04a720ce1f189f0fab</string>
</dict>
</plist>